*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background: #110f18;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
  border-bottom: 1px solid rgba(255,255,255,0.08);
}


.nav-inner {
  max-width: auto;
  margin: 0 auto;
  padding: 0 200px;
  gap: 50px;
  display: flex;
  align-items: center;
  height: 64px;
}

.nav-logo img {
  height: 28px;
  width: auto;
  display: block;
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-left: 32px;
  padding: 0;
  margin: 0;
  padding-top: 0px;
}

.nav-links a {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding-bottom: 6px;
}


.nav-links .active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 3px;
  background: #e10600;
}

.registration {
    padding-left: 150px;
}

main {
  width: 100%;
}

.drivers-section {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  color: #fff;
}

.drivers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 7vh;
  margin-left: 5vh;
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  /*gap: 24px;
  margin-top: 100px;
  height: 30vh;
  width: 35vh;
  background-color: rgb(32, 129, 161);
  border-radius: 10px; */
}

.driver-card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  margin-top: 100px;
  width: 260px;
  height: 260px;
  background-color: rgb(32, 129, 161);
  border-radius: 10px;
}

.drivers-p {
  margin-top: 15px;
}

.driver-image {
  /* width: 80%;
  max-width: 220px;
  bottom: 0;  */
  position: absolute;
  right: -20px;
  /* top: 0; */
  height: 100vh;
}

.driver-card::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  z-index: 2;              
  pointer-events: none;
}

.driver-name, .driver-number, .driver-team, a {
  /* padding-top: 5px; */
  padding-left: 15px;
  color: white;
  text-decoration: none;
}
