*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background: #110f18;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
  border-bottom: 1px solid rgba(255,255,255,0.08);
}


.nav-inner {
  max-width: auto;
  margin: 0 auto;
  padding: 0 200px;
  gap: 50px;
  display: flex;
  align-items: center;
  height: 64px;
}

.nav-logo img {
  height: 28px;
  width: auto;
  display: block;
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-left: 32px;
  padding: 0;
  margin: 0;
  padding-top: 0px;
}

.nav-links a {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding-bottom: 6px;
}


.nav-links .active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 3px;
  background: #e10600;
}

.registration {
    padding-left: 150px;
}

main {
  width: 100%;
}

.standings {
    color: white;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    background-color: black;
}

.standings table {
    width: 100%;
    border-collapse: collapse;
}

.standings th, .standings td {
    border: 1px solid #ddd;
    padding: 10px;
}

.standings th {
    background-color: #222;
    color: #fff;
}