*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  border-bottom: 1px solid rgba(255,255,255,0.08);
  background: #110f18;
  padding-top: 100px;
}

.nav-inner {
  max-width: auto;
  margin: 0 auto;
  padding: 0 100px;
  padding-bottom: 100px;
  gap: 50px;
  display: flex;
  align-items: center;
  height: 64px;
}

.nav-logo img {
  position: absolute;
  height: 50px;
  width: auto;
  display: block;
}

.nav-inner1 {
    background: rgb(61, 59, 59);
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.nav-p {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative
    
}

.nav-p.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 3px;
  color: #e10600; /* F1 red */
}
